<section>
  <h1>Jobs</h1>

  <% @jobs.each do |job| %>
    <article>
      <h1><%= link_to job.title, job %></h1>
      <strong>Destaque</strong>
      <dl>
        <dt>Company</dt>
        <dd><%= job.company %></dd>
        <dt>Location</dt>
        <dd><%= job.location %></dd>
      </dl>
    </article>
  <% end %>

</section>
